In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sp500 = pd.read_csv("sp500_raw_data.csv")
news = pd.read_csv("sp500_raw_headlines.csv")

In [3]:
sp500.head()

         Date       Open       High        Low      Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000     0.0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000     0.0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999     0.0
3  1928-01-05  17.549999  17.549999  17.549999  17.549999     0.0
4  1928-01-06  17.660000  17.660000  17.660000  17.660000     0.0

In [4]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24639 entries, 0 to 24638
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    24639 non-null  object
 1   Open    24639 non-null  float64
 2   High    24639 non-null  float64
 3   Low     24639 non-null  float64
 4   Close   24639 non-null  float64
 5   Volume  24639 non-null  float64
dtypes: float64(5), object(1)
memory usage: 1.1+ MB

In [5]:
sp500["Date"] = pd.to_datetime(sp500["Date"])
sp500 = sp500.sort_values("Date")
sp500 = sp500[
    (sp500["Date"] >= "2010-01-01") &
    (sp500["Date"] <= "2023-12-31")
]

In [6]:
(sp500.duplicated(subset=["Date"]).sum(),
 sp500.isna().sum())

(np.int64(0),
 Date      0
 Open      0
 High      0
 Low       0
 Close     0
 Volume    0
 dtype: int64)

In [7]:
sp500["abs_return"] = abs((sp500["Close"] - sp500["Open"]) / sp500["Open"])
sp500["volatility"] = sp500["High"] - sp500["Low"]

sp500["volatility_next_day"] = sp500["volatility"].shift(-1)
sp500["abs_return_next_day"] = sp500["abs_return"].shift(-1)

sp500 = sp500.dropna()

In [8]:
sp500.head()

,Date,Open,High,Low,Close,Volume,abs_return,volatility,volatility_next_day,abs_return_next_day
20593,2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,3.991400e+09,0.014715,17.309937,6.969971,0.003408
20594,2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,2.491020e+09,0.003408,6.969971,5.239990,0.001259
20595,2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,4.972660e+09,0.001259,5.239990,11.140015,0.004770
20596,2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,5.270680e+09,0.004770,11.140015,9.170044,0.003910
20597,2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,4.389590e+09,0.003910,9.170044,7.719971,0.000890

In [9]:
news.head()

                                               Title        Date       CP
0   JPMorgan Predicts 2008 Will Be "Nothing But Net"  2008-01-02  1447.16
1  Dow Tallies Biggest First-session-of-year Poin...  2008-01-02  1447.16
2                   2008 predictions for the S&P 500  2008-01-02  1447.16
3  U.S. Stocks Higher After Economic Data, Monsan...  2008-01-03  1447.16
4  U.S. Stocks Climb As Hopes Increase For More F...  2008-01-07  1416.18

In [10]:
news = news[["Title", "Date"]]

In [11]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19127 entries, 0 to 19126
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   19127 non-null  object
 1   Date    19127 non-null  object
dtypes: object(2)
memory usage: 299.0+ KB

In [12]:
news = news.rename(columns={
    "Title": "Headline"})

In [13]:
news["Date"] = pd.to_datetime(news["Date"])
news = news[
    (news["Date"] >= "2010-01-01") &
    (news["Date"] <= "2023-12-31")
]

In [14]:
(news["Headline"].isna().sum(),
news.duplicated(subset=["Date", "Headline"]).sum())

(np.int64(0), np.int64(968))

In [15]:
news = news.drop_duplicates(subset=["Date", "Headline"])

In [16]:
sp500.to_csv("sp500_prepared.csv", index=False)
news.to_csv("news_prepared.csv", index=False)

In [17]:
from google.colab import files

files.download("sp500_prepared.csv")
files.download("news_prepared.csv")